.main-content {
            display: flex;
            width: 100%;
            padding: 20px 0;
            box-sizing: border-box;
        }
        
        .personaje-container {
            margin-top: 230px;
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding-left: 80px;
        }
        
        .personaje-img {
            max-width: 100%;
            height: auto;
        }
        
        .tablero-container {
            width: 85%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .tablero-img {
            width: 100%;
            max-width: 900px;
            height: auto;
            position: relative;
        }
        
        .lecciones-grid {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 70%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 30px;
        }
        
        .leccion-item {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: transform 0.3s;
        }
        
        .leccion-item:hover {
            transform: scale(1.05);
        }
        
        .leccion-item img {
            width: 160px;
            height: auto;
        }

        .welcome-banner {
            width: 100%;
            padding: 20px 5%;
            text-align: left;
            box-sizing: border-box;
            padding-left: 12%;
        }
        
        .welcome-banner h1 {
            font-family: "Baloo 2", sans-serif;
            font-weight: 700;
            font-size: 45px;
            color: #000000; 
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 0;
            letter-spacing: 1px;
        }

        /* Fondo oscuro del popup */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none; /* Invisible por defecto */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Caja blanca */
.popup-box {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 450px;
    max-width: 450px;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    align-items: center;
}

/* Texto */
.popup-text {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

/* Imagen */
.popup-img {
    display: block;
    width: 200px;
    height: auto;
    margin: 0 auto 25px; 
}

/* Botón cerrar */
.popup-close {
    margin: 0 auto;
    display: block;
    background: #e92c6e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-top: 25px;
}

.popup-close:hover {
    background: black;
}

        
        @media (max-width: 768px) {
            .welcome-banner h1 {
                font-size: 1.8rem;
                text-align: center;
            }
        }