
@media (max-width: 780px) {
    
    .welcome-banner {
        margin-top: 15px;
        text-align: center;
        padding: 10px 5%;
        margin-bottom: 5px;
    }
    
    .welcome-banner h1 {
        font-size: 28px;
        margin: 15px 0;
        text-align: center;
    }
    
    .main-content {
        flex-direction: column;
        padding: 10px 0;
    }
    
    .tablero-container {
        width: 100%;
        order: 1; /* Aparece primero */
    }
    
    .tablero-img {
        max-width: 100%;
        margin: 0 auto;
        display: block;
    }
    
    .lecciones-grid {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        gap: 15px;
    }
    
    .leccion-item img {
        width: 68px ;
        height: auto;
    }
    
    .personaje-container {
        order: 2; /* Aparece después del tablero */
        margin-top: 30px;
        width: 100%;
        padding-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .personaje-img {
        max-width: 200px;
        height: auto;
    }
    
    .leccion-item:hover {
        transform: scale(1.02);
    }

    /* Caja blanca */
.popup-box {
    width: 250px;
    text-align: center;
    align-items: center;
}

/* Texto */
.popup-text {
    font-size: 12px;
    font-weight: 600;
}

/* Imagen */
.popup-img {
    width: 120px;

}

/* Botón cerrar */
.popup-close {
    margin: 0 auto;
    display: block;
    background: #e92c6e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    margin-top: 25px;
}
}